<div *ngIf="spaceObject" class="dpanel">
  <h3 class="text-info">{{spaceObject.name}}</h3>

  <div class="form-item">
    {{spaceObject.description}}
  </div>

  <div class="form-item">
    <sup>{{spaceObject.uid}}</sup>
  </div>

  <div class="form-item" *ngIf="spaceObject.distance>0">
    <label>Distance: </label> {{spaceObject.distance}} km
  </div>

  <div class="form-item">
    <label>Diameter: </label> {{spaceObject.diameter}} km
  </div>

  <div class="form-item">
    <img src="./assets/{{spaceObject.name.toLowerCase()}}.png" class="col-md-8" />
  </div>

</div>