<div *ngIf="selectedPlanet" class="dpanel">
  <h3 class="text-info">{{selectedPlanet.name}}</h3>

  <div class="form-item">
    <label>id: </label>{{selectedPlanet.id}}
  </div>

  <div class="form-item">
    <label>name: </label> {{selectedPlanet.name}}
  </div>

  <div class="form-item">
    <label>distanceToSun: </label> {{selectedPlanet.distanceToSun}} km
  </div>

  <div class="form-item">
    <label>diameter: </label> {{selectedPlanet.diameter}} km
  </div>

  <div class="form-item">
    <img src="./assets/{{selectedPlanet.name.toLowerCase()}}.png" class="col-md-8" />
  </div>
  
</div>